/**
Agregue las clases globales como margenes, relleno, grid.

NOTA PARA MICROFRONTENDS: las clases globales pueden afectar al estilado general de la aplicación.
Las clases y estilos compartidos deberían ser obtenidos de un CDN por el ORQUESTADOR.

Ej:

.margin-32--bottom {
  margin-bottom: 32px;
}

*/

/* Colores */
$primary-color: #009e99;
$disabled-calendar: #dce0e0;
$url-color: #009e99;

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li,
h1,
h2,
h3,
p,
button {
  padding: 0;
  margin: 0;
}

a {
  color: $url-color;
}

ul {
  list-style: none;
}

label {
  b {
    margin-bottom: 5px;
  }
}

table {
  border-spacing: 0;
  th {
    @media (max-width: 768px) {
      font-size: 13px;
      padding: 5px;
      small {
        margin: 0 !important;
      }
    }
  }
  td {
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
    @media (max-width: 768px) {
      padding: 5px;
      font-size: 13px !important;
    }
  }
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
h1 {
  margin: auto auto 35px;
  text-align: center;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 200px;
  color: #fff;
  background: #009e99;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 20px 0;
}

.elements_container {
  overflow-y: auto;
  max-height: 500px;
  h3 {
    margin-bottom: 10px;
  }
}

@import 'assets/scss/modal';
@import 'assets/scss/forms';
@import 'assets/scss/daypicker';
@import 'assets/scss/swiper';
